
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Navigation for Posts
.topic-nav {
	a {
		color: #777;
	}
	li {
		list-style: none;
		display: inline;
		padding: 10px;
    	text-align: center;
    	font-size: 14px;
    	
    	&:hover {
			background-color: #e3e3e3;
			color: #FFF;
		}
	}
	.active {
		border-top: 2px solid green;
		border: 1px solid #eee;
		border-bottom: initial;
	}
}
// questions
.timestamp {
	font-size: 13px;
}